
body {
    max-width: 800px;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.checkbox-label {
    width: 65px;
    outline: 1px solid black;
    height: 50px;
    text-align: center;
    margin-right: 2px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch
}

.card {
    margin: 5px;
    line-height: 50px;
}

select {
    margin-bottom: 5px;
}

.card-checkbox{
    accent-color: red;
    text-align: right;
}

.player-correct-checkbox{
    accent-color: rgb(55, 232, 55);
    text-align: right;
    line-height: 50px;
    margin-right: 5px;
}

input[type=text]{
    margin: 5px;
    width: 100px;
}

.card-checkbox {
    text-align: center;
    margin-bottom: 7px;
}

.score-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80%;
    line-height: 50px;

}

.image {
    margin-bottom: 5px;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bold {
    font-weight: bolder;
}

h1, h2 {
    text-align: center;
}

input[type=number] {
    height: 50px;
    width: 50px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 opacity: 1 !important;
 margin: 0;
 width: 25px;
 height: 45px;
}

